<h1 class="head">ngModel Component</h1>

	<!-- Html file to ts file -->
	<label>FirstName: </label>
	<input type="text" name="fname" [(ngModel)]="obj.fname"><br><br>
	<label>LastName: </label>
	<input type="text" name="lname" [(ngModel)]="obj.lname"><br><br>
	<label>Number: </label>
	<input type="text" name="num" [(ngModel)]="obj.num"><br><br>
	<button (click)= "myFun()">Submit Form</button><br><br>

	<!-- ts file to html file -->
	<label>Name: </label>
	<input type="text" name="name" [(ngModel)]="obj.name"><br><br>
	<label>Email: </label>
	<input type="email" name="email" [(ngModel)]="obj.email"><br><br>
	<label>Password: </label>
	<input type="password" name="pswd" [(ngModel)]="obj.pswd"><br><br>
	<button (click)= "login()">Login</button><br><br>

	<!-- Using Form Tag -->
	<form>
		<label>Emp Name: </label>
		<input type="text" name="empName" [(ngModel)]="obj.empname"><br><br>
		<label>Emp Id: </label>
		<input type="text" name="empId" [(ngModel)]="obj.empid"><br><br>
		<label>Emp Spec: </label>
		<input type="text" name="empSpec" [(ngModel)]="obj.empspec"><br><br>
		<label>Emp Email: </label>
		<input type="email" name="empEmail" [(ngModel)]="obj.empemail"><br><br>
		<label>Emp Password: </label>
		<input type="password" name="empPswd" [(ngModel)]="obj.emppswd"><br><br>
		<button (click)= "register()">Register</button>
	</form>
