.head {
	text-align : center;
	color : red;
	background-color : lightblue;
}
.para {
	font-size : 30px;
	color : blue;
}
.proBind {
	text-align : center;
}
.ngif {
	text-align : center;
	color : blue;
	font-wight : bold;
	font-size : 20px;
}
