
<h3>Child Form </h3>
<div >
	<label>childFname: </label>
	<input type="text" name="fname" value=""><br><br>
	<label>childLname: </label>
	<input type="text" name="fname" value=""><br><br>
	<label>childEmail: </label>
	<input type="email" name="shemail" value=""><br><br>
	<label>childdPswd: </label>
	<input type="password" name="shpswd" value=""><br><br>
</div>
<div>
	<label>SharedEmail: </label>
	<input type="email" name="shemail" value=""><br><br>
	<label>SharedPswd: </label>
	<input type="password" name="shpswd" value=""><br><br>
</div>
<!-- <h3>{{titleName}}</h3>
	<div *ngIf="formDetails">
	<label>childFname: </label>
	<input type="text" name="fname" value="{{formDetails.fname}}"><br><br>
	<label>childLname: </label>
	<input type="text" name="fname" value="{{formDetails.lname}}"><br><br>
	<label>childEmail: </label>
	<input type="email" name="shemail" value="{{formDetails.email}}"><br><br>
	<label>childdPswd: </label>
	<input type="password" name="shpswd" value="{{formDetails.pswd}}"><br><br>
</div>
<div *ngIf="parentChild">
	<label>SharedEmail: </label>
	<input type="email" name="shemail" value="{{parentChild.email}}"><br><br>
	<label>SharedPswd: </label>
	<input type="password" name="shpswd" value="{{parentChild.password}}"><br><br>
</div> -->

